.clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
.img-w100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.ml-auto{
  margin-left: auto;
}
.mr-auto{
  margin-right: auto
}
.text-mt{
  margin-top: 30px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.rel{
  position: relative;
}

.abs{
  position: absolute;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}
.d-block{
  display: block;
}

// 
.font-bold{
  font-family: 'FiraSans-Bold';
  // font-weight: $font-weight-bold;
}

// container-0
.container-0{
  // margin-right: -15px;
  // margin-left: -15px;
  padding-left: 0;
  padding-right: 0;
}

// container çš„ padding
.margin-fluid{
  margin-top: $padding*3;
  margin-bottom: $padding*3;
  @include mq(md){
    margin-top: $padding*6.5;
    margin-bottom: $padding*6.5;
  }
  @include mq(xl){
    margin-top: $padding*10;
    margin-bottom: $padding*10;
  }
}

.margin-top-fluid{
  margin-top: $padding*3;
  @include mq(md){
    margin-top: $padding*6.5;
  }
  @include mq(xl){
    margin-top: $padding*10;
  }
}

.padding-fluid{
  padding-top: $padding*3;
  padding-bottom: $padding*3;
  @include mq(md){
    padding-top: $padding*6.5;
    padding-bottom: $padding*6.5;
  }
  @include mq(xl){
    padding-top: $padding*10;
    padding-bottom: $padding*10;
  }
}
.padding-bottom-fluid{
  padding-bottom: $padding*3;
  @include mq(md){
    padding-bottom: $padding*6.5;
  }
  @include mq(xl){
    padding-bottom: $padding*10;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// 
.pr-0{
  padding-right: 0 !important;
}