$h1-font-sizes:(
    null: 36px,
    $screen-md: 54px,
    $screen-xl: 72px
);
$h2-font-sizes:(
    null: 26px,
    $screen-md: 28px, 
    $screen-xl: 30px
);
$h3-font-sizes:(
    null: 20px,
    $screen-md: 22px,
    $screen-xl: 24px
);
$h4-font-sizes:(
    null: 16px,
    $screen-md: 17px,
    $screen-xl: 18px
);
$h5-font-sizes:(
    null: 18px,
    $screen-md: 20px,
    $screen-xl: 24px
);
$h6-font-sizes:(
    null: 16px
);
$p-font-sizes:(
    null: 24px,
    $screen-md: 30px,
    $screen-xxl: 36px
);

@mixin font-size($fs-map) {
    @each $fs-breakpoint,
    $fs-font-size in $fs-map {
        @if $fs-breakpoint==null {
            font-size: $fs-font-size;
        }
        @else {
            @media screen and (min-width: $fs-breakpoint) {
                font-size: $fs-font-size;
            }
        }
    }
}

h1, .h1 {
    @include font-size($h1-font-sizes);
    display: block;
    font-family: $font-family-sans-serif;
}
h2, .h2 {
    @include font-size($h2-font-sizes);
    display: block;
    font-family: 'FiraSans-Light';
}
h3, .h3 {
    @include font-size($h3-font-sizes);
    display: block;
    font-family: $font-family-monospace;
    letter-spacing: 2px;
}
h4, .h4 {
    @include font-size($h4-font-sizes);
    display: block;
    font-family: 'FiraSans-Regular';
}
h5, .h5 {
    @include font-size($h5-font-sizes);
    display: block;
}
h6, .h6 {
    @include font-size($h6-font-sizes);
    display: block;
}
p {
    @include font-size($p-font-sizes);
    display: block;
    font-family: 'FiraSans-Light';
    line-height: $line-height-base;
}