.banners{
    position: relative;
    z-index: 1;
    .banner-text{
        display: block;
        padding: 30px 15px;
        background: rgba(#70cad3, 1);
        color: $white;
        .text{
            padding-top: 30px;
        }
        @include mq(md){
            position: absolute;
            width: 100%;
            top: 65%;
            left: 50%;
            background: transparent;
            color: $text-color;
            transform: translate(-50%, -65%);
            z-index: 2;
        }
        @include mq(xl){
            top: 55%;
            transform: translate(-50%, -55%);
        }
    }
    .banner-img{
        position: relative;
        img{
            width: 100%;
        }
        &:after{
            position: absolute;
            top: 0;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(129deg, $banner-box 41%, rgba($white,0) 0%); 
            background: -moz-linear-gradient(129deg, $banner-box 41%, rgba($white,0) 0%); 
            background: -webkit-linear-gradient(129deg, $banner-box 41%, rgba($white,0) 0%); 
            background: -o-linear-gradient(129deg, $banner-box 41%, rgba($white,0) 0%); 
            opacity: .3;
        }
    }
}