.text-content{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    @include mq(lg){
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .title, .text{
        color: $gray-40;
    }
    .text{
        &.padd-r{
            @include mq(lg){
                padding-right: 10px;
            }
        }
    }
    &.text-white{
        .title, .text{
            color: $white;
        }
    }
}

.text-align-items{
    display: flex;
    align-items: center;
    .text-content{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

*{
    &.padd-t{
        padding-top: 45px;
    }
    &.padd-b{
        padding-bottom: 45px;
    }
    &.padd-l{
        padding-left: 15px;
        @include mq(md){
            padding-left: 50px;
        }
        @include mq(lg){
            padding-left: 75px;
        } 
        @include mq(xl){
            padding-left: 100px;
        } 
    }
    &.padd-r{
        padding-right: 15px;
        @include mq(md){
            padding-right: 50px;
        }
        @include mq(lg){
            padding-right: 75px;
        }
        @include mq(xl){
            padding-right: 100px;
        }
    }
}
