.text-sort{
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(-90deg, $primary 50%, $third-color 0%); 
    background: -moz-linear-gradient(-90deg, $primary 50%, $third-color 0%); 
    background: -webkit-linear-gradient(-90deg, $primary 50%, $third-color 0%); 
    background: -o-linear-gradient(-90deg, $primary 50%, $third-color 0%); 
    @include mq(md){
        padding-top: 50px;
        padding-bottom: 50px;
        background: linear-gradient(0deg, $primary 50%, $third-color 0%); 
        background: -moz-linear-gradient(0deg, $primary 50%, $third-color 0%); 
        background: -webkit-linear-gradient(0deg, $primary 50%, $third-color 0%); 
        background: -o-linear-gradient(0deg, $primary 50%, $third-color 0%); 
    }
    @include mq(lg){
        padding-top: 150px;
        padding-bottom: 150px;
    }
}