.video-content{
    position: relative;
    .video-text{
        position: relative;
        padding: 60px 15px;
        background-color: $card-black;
        z-index: 2;
        @include mq(lg){
            position: absolute;
            top: 0;
            left: 0;
            padding: 135px 135px 135px 80px;
        }
        @include mq(xl){
            padding: 100px 50px 100px 50px;
        }
        @include mq(xxxl){
            padding: 150px 135px 150px 80px;
        }
        .title, .sub-title{
            color: $primary;
        }
        .sub-title{
            padding-top: 10px;
        }
        .text{
            color: $white;
            line-height: 24px;
            font-size: 16px;
        }
        .sub-title, .text{
            font-family: 'FiraSans-Regular';
        }
    }
    .video-img{
        @include mq(md){
            position: absolute;
            top: 0;
            max-height: 402px;
            overflow-y: hidden;
            z-index: 0;
        }
        @include mq(lg){
            position: relative;
            max-height: 100%;
            z-index: 1;
        }
    }
}